#### 1. Write a python program to convert a string to lower case

In [2]:
a = "HELLO WORLD"
a.lower()

'hello world'

#### 2.Write a python program to convert only odd indexed character to lower case

In [21]:
b = "PYTHON"
c = ""
for index, i in enumerate(b):
    if index %2 != 0:
        c += i.lower()
    else:
        c += i
print(c)

PyThOn

#### 3.Write a python program to convert only even indexed character to lower caseÂ¶

In [23]:
b = "PYTHON"
c = ""
for index,i in enumerate(b):
    if index %2 == 0:
        c += i.lower()
    else:
        c += i
print(c)

pYtHoN

#### 4.Write a python program to convert only odd indexed character to upper case

In [24]:
b = "python"
c = ""
for index, i in enumerate(b):
    if index %2 != 0:
        c += i.upper()
    else:
        c += i
print(c)

pYtHoN

#### 5.Write a python program to convert only even indexed character to upper case

In [25]:
b = "python"
c = ""
for index, i in enumerate(b):
    if index %2 == 0:
        c += i.upper()
    else:
        c += i
print(c)

PyThOn

#### 6.Write a python program to where you have different variables which contain name, age, phone.no, father's name, mother's name and by using this variable create a variable named biodata where you will use all these variables

In [2]:
Name = input("Enter your name : ")
Age = int(input("Enter your age : "))
phone_no = int(input("Enter your phone_no : "))
father_s_name = input("Enter your father name : ")
mother_s_name = input("Enter your mother name: ")
biodata = print(f"My name is {Name}, iam {Age} years old, my phone number is {phone_no}, My father name is {father_s_name} and My mother name is {mother_s_name}")

Enter your name : Bhavana
Enter your age : 23
Enter your phone_no : 8956741236
Enter your father name : Ramulu
Enter your mother name: Anitha
My name is Bhavana, iam 23 years old, my phone number is 8956741236, My father name is Ramulu and My mother name is Anitha

#### 7.Write a program to convert how many times "@" occured

In [3]:
a = "@@@@@@@@@hey@@@@@@@"
a.count("@")

16

#### 8.Write a python program to get only names from the string

In [10]:
x = "geta.@gmail.com,seta.@gmail.com, rekha.@gmail.com"
x[0:4],x[16:20],x[33:38]

('geta', 'seta', 'rekha')

#### 9.String of odd length greater than 9,return a new string made of the middle three characters

In [11]:
name = "mynameissan"
name[4:7]

'mei'

#### 10.write a python program to insert 2 string in middle of a string

In [14]:
n1 = "myn"
n2 = "sa"
n1[0:2]+n2+n1[2:3]

'mysan'

#### 11.Write a program to remove vowels from the entire alphabets

In [18]:
a = "abcdefghijklmnopqrstuvwxyz"
vowels = ["a","e","i","o","u"]
c = ""
for i in a:
    if i not in vowels:
        c += i
print(c)

bcdfghjklmnpqrstvwxyz